/*!

=====================================================
=         		#Images & Graphics					=
=====================================================

*/

/* 
* #Images
================================================== */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

	img.inspiration {
		max-width:90%;
		height:auto;
		border: 2px solid $accent-colour; 
		border-radius: 4px;
		padding:3px;
		margin:auto;
		margin-bottom:20px;
	}


/* 
*  #Graphics: Logo
================================================== */

.logo {
	@include default-style;
	background-color: transparent;
	margin-bottom:40px;
	margin-top:20px;
	font-style:italic;
}

/* 
* #Graphics: Author Photo
================================================== */

.author-photo {
	float:right;
	width:40%;

}

/*!

=====================================================
=         End of #Images & Graphics					=
=====================================================

*/