/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

	img.inspiration {
		max-width:90%;
		height:auto;
		border: 2px solid $accent-colour; 
		border-radius: 4px;
		padding:10px;
		margin:auto;
		margin-bottom:80px;
	}

img.palette-swatch {
	margin:auto;
	/* padding: 20px; */
	margin-top:5px;
	margin-left:5px;
	margin-bottom: 30px;
	height: 166px; 
	max-width: 175px;
	border-radius: 90%;
	box-shadow: 10px 2px 20px 1px rgba(29, 7, 31, 0.12); 
/* 	box-shadow: 10px 2px 20px 1px rgba(29, 7, 31, 0.12);  */
} 



/* #Graphics: Logo
================================================== */

.logo {
	@include default-style;
	background-color: transparent;
	margin-bottom:40px;
	margin-top:20px;
	font-style:italic;
}

/* #Graphics: Author Photo
================================================== */

.author-photo {
	float:right;
	width:40%;

}