/* #Links
================================================== */
// a, a:visited {
// 	color: $link-colour;
// 	text-decoration: none;
// 	border-bottom: 1px solid #444;
// }
// a:hover, a:focus {
// 	color: $link-colour; /* light-purple */
// }
// p a, p a:visited {
// 	line-height: inherit;
// }
// #nav-button {
// 	font-size: 30px;
// 	font-weight: 400;
// 	margin-top: 40px;
// }
// #nav-button.back, #nav-button.back a {
// 	float: left;
// }
// #nav-button.next, #nav-button.next a {
// 	float: right;
// }
// #nav-button a:hover {
// 	color: /* purple */ rgba(118, 0, 128, 0.63);
// }
// h1.a {
// 	color: rgba(3, 74, 107, 0.82) !important;
// }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }