//=========================================
//            Typography Mixins            =
//=========================================*/

// Thin Scriptive / Decorative Font

@mixin scriptive-sans {
font:	{
	family: "bickham-script-pro",sans-serif;
	style: normal;
	weight: 400;
	}
}

// Sans Serif / Basic Font
@mixin main-font-sans {
font:{
	family: "ratio",sans-serif;
	style: normal;
	weight: 400;
	}
}

// Beautiful Thick Scriptive Font

@mixin thick-scriptive {
font: {
	family: "sail",fantasy;
	style: normal;
	weight: 400;
	}
}

// Lovely Serif for Paragraphs

@mixin main-font-serif {
font: {
	family: "ff-meta-serif-web-pro",serif;
	tyle: normal;
	weight: 500;
	}
}

@mixin adelle {
	font: {
	family: "adelle",serif;
	style: normal;
	weight: 400;
}
}




//-----  End of Typography Mixins  ------

// feature styles
@mixin default-style {
	margin:auto;
	margin-top:4%;
	display:block;
	padding:2%;
	text-align:center;
	font-style:italic;
	background-color: lighten($accent-colour,60%);
	border-radius: 5px;
	max-width:400px;
	width:90%;
}

@mixin reset-default-style {
	margin:auto;
	margin-top:inherit;
	display:block;
	padding:inherit;
	text-align:center;
	font-style:normal;
	background-color: transparent;
	border-radius: 5px;
	max-width:95%;
	width:90%;
}

