/*=============================
=            Notes            =
=============================*/

Return to Google Fonts collection:
https://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display:400,900,400italic,700italic|Limelight|Lobster|Droid+Serif:400,700,400italic,700italic|Pontano+Sans|Prata|Merriweather:400,300italic,300,700,400italic

/*============================================
=  Fonts in Web Styles (Typekit)            =
============================================*/

/* Thin Scriptive / Decorative Font */

font-family: "bickham-script-pro",sans-serif;
font-style: normal;
font-weight: 400;

/* Sans Serif / Basic Font */

font-family: "ratio",sans-serif;
font-style: normal;
font-weight: 400;

/* Beautiful Thick Scriptive Font */

font-family: "sail",fantasy;
font-style: normal;
font-weight: 400;

/* Lovely Serif for Paragraphs */

font-family: "ff-meta-serif-web-pro",serif;
font-style: normal;
font-weight: 500;

/*-----  End of Fonts in Web Styles (Typekit)  ------*/

