/*!
====================================================
=           Body Styles for Main Template           =
====================================================*/

body {
	// background: rgba(255, 252, 252, 0.2);
	font-family: $main-font;
	font-size: 14px/21px;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* #Typography
==================================================*/ 
h1, h2, h3, h4, h5, h6 {
	@include default-style;
	font-family: $main-font;
	font-weight: 500;
	text-align: center;
	font-style:normal;
}

.centre-intro {
	text-align: center;
}
h1 {
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 20px;
}
h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
	text-align: center;
}
h4 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
	/* border-bottom: 1px solid #333;
	padding-left: 3px;
	padding-right: 3px;
	*/
}
h5 {
	font-size: 17px;
	line-height: 24px;
}
h6 {
	font-size: 14px;
	line-height: 21px;
}
.subheader {
	color: #777;
}
p {
	margin: 0 0 20px 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: #333;
}
small {
	font-size: 80%;
}

.caption {
	font-size:16px;
	text-align:center;
	font-style:italic;
	// background-color: lighten($accent-colour, 60%);
	color:black;
}

/* Blockquotes */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}


hr {
  border: 1.9px solid $accent-colour;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  margin: auto;
  margin: 10px 0 30px;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.07);
}

.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}


/*-----  End of Body Styles in Main Template  ------*/

