//===================================================
//           Template Variables / Styles            
//===================================================

//==========  Fonts  ==========

$main-font: "Pontano Sans", sans-serif; // main-font = body font in Main Template


//======  Template Structure Variables  ======

$accent-colour: rgba(59, 68, 72, 0.48);
$link-colour: rgba(101, 29, 107, 0.7);

//============================================
//           Body Style Variables            
//============================================



//=========================================================
//            Colour Palette Variables / Styles           =
//=========================================================

//==========  Colour Palette #1  ==========

// Variable Format: $colourpalette#-colour#
// Same format used for CSS class - simply use the class to markup your HTML

		$colourpalette1-colour1: #0c1633;

		$colourpalette1-colour2: #3A434E;

		$colourpalette1-colour3: #94A5B7;

		$colourpalette1-colour4: #E1E6EA;

		$colourpalette1-colour5: #e34627;

		$colourpalette1-colour6: #E76885;

		$colourpalette1-colour7: #e8c078;
		
		$colourpalette1-colour8: #d3803e;

//==========  Colour Palette: MJC ==========*/

// Variable Format: $colourpalette#-colour#
// Same format used for CSS class - simply use the class to markup your HTML
		
		$colourpalette-mjc-colour1: #373B44;

		$colourpalette-mjc-colour2: rgba(204, 204, 204, 0.34);

		$colourpalette-mjc-colour3: #E1B866;

		$colourpalette-mjc-colour4: #73C8A9;  

		// $colourpalette-mjc-colour5: #e34627;

		// $colourpalette-mjc-colour6: #E76885;

		// $colourpalette-mjc-colour7: #e8c078;
		
		// $colourpalette-mjc-colour8: #d3803e;
