/*!
Project: 	Web Styles
By: 		Melissa Jean Clark
Author: 	http://melissajclark.ca
Description: Template for design ideas to share with client.


* CSS included here is from Paul Robert Lloyd's Barebones project
* View Barebones on Github: https://github.com/paulrobertlloyd/barebones
* Some CSS modifications by me (Melissa Jean Clark) for use in the Web Styles Template.
* Most modifications are simply commented out. 
*/



// Barebones Styles
//--------------
@import "barebones/_reset-barebones-webstyles";
@import "barebones/_patterns";
@import "barebones/_reset";
@import "barebones/_styles";




