/*===========================================
=            Body Style Option 2          =
===========================================*/

.bodystyle2 {

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: inherit;
}
ol, ul {
	list-style: disc inside;
	line-height:2;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, body p, p, ol, ul {
	// background: rgba(255, 252, 252, 0.2);
	@include main-font-serif;
	font-size: 18px;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	line-height:2;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	@include thick-scriptive;
	@include reset-default-style;
	text-align: center;
	color: $colourpalette1-colour8;
}
h1, h2 {
	color: rgba(3, 74, 107, 0.82);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
.centre-intro {
	text-align: center;
}
h1 {
	font-size: 60px;
	line-height: 50px;
	margin-bottom: 20px;
}
h2 {
	font-size: 50px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
	text-align: center;
}
h4 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
	/* border-bottom: 1px solid #333;
	padding-left: 3px;
	padding-right: 3px;
	*/
}
h5 {
	font-size: 17px;
	line-height: 24px;
}
h6 {
	font-size: 14px;
	line-height: 21px;
}
.subheader {
	color: #777;
}
p {
	margin: 0 0 20px 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: #333;
}
small {
	font-size: 80%;
}

/* Blockquotes */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}


hr {
  border: 1.9px solid $accent-colour;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  margin: auto;
  margin: 10px 0 30px;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.07);
}

/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }

}

/*-----  End of Body Style Option 2  ------*/

