[ezcol_2third]

I'm passionate about art, design, technology, and education. I love designing and developing websites. It combines all of my passions, so what's not to like?

I create websites that look good on the inside and out. I always ensure it's coded well, since I know how important it is for your website to look good on every device. The websites featured in my portfolio include Wordpress-based websites, and HTML &amp; CSS websites.

One of my favourite aspects of web design is the problem solving process. Every web design project is a little different (wouldn't it be boring if they were all the same?). I see any potential obstacle as an opportunity for research and I won't stop until I've found a solution.
[/ezcol_2third]
[ezcol_1third_end]
<img class="size-full wp-image-5377 alignright" src="http://melissajclark.ca/2014/wp-content/uploads/2014/03/MG_85180-circle-500px.png" alt="_MG_85180-circle-500px" width="500" height="500" />
[/ezcol_1third_end]
<p style="text-align: center;"><strong>I help small business owners, artists, and non-profit organizations by creating a great website that's right for them.</strong></p>
&nbsp;
<h3 style="text-align: center;">My Definition of a Great Website:</h3>
[ezcol_1half]
<ul>
	<li>It is both functional and elegant.</li>
	<li>It is an intuitive experience for its users.</li>
	<li>It's design focuses on highlighting your content, while being mindful of using too many flashy effects.</li>
</ul>
 
<ul>
	<li>It is useful and beautiful at any screen size.</li>
	<li>It feels like an online version of you.</li>
	<li>A great website looks a little different for everyone, but it should always be simple to maintain and update.</li>
</ul>
[/ezcol_1half_end]
<h3 style="text-align: center;">How I Became A Web Designer</h3>
I studied photography at OCAD University. Throughout my photographic work the internet comes up again and again. I created projects about online dating, people's facial expressions behind their computers, and even collaborated internationally to create a website of the resulting images.
<blockquote>
<p style="text-align: center;">When I went to build a website to showcase my photographic portfolio I realized I had another passion: web design.</p>
</blockquote>
I loved using my design skills to create work on a new, exciting medium. I knew basic HTML &amp; CSS and quickly self-taught myself the rest via the beauty of online resources and a few <a href="http://ladieslearningcode.com/">Ladies Learning Code</a> workshops. These days I stay current on the ever-changing web design industry by reading books, blogs, listening to podcasts, and attending conferences.

It may have been my plan to be a photographer, but I couldn't be happier to now be spending my days designing websites. My fine arts background means that when I design a website, I pull inspiration from my training in image composition, colour theory, and art history.
<h3 style="text-align: center;">A Little More About Me</h3>
[ezcol_1half]

I'm  proud to be a member of <a href="http://averyswartz.com" target="_blank">Avery Swartz'</a>s Web Design team.

I love working with Avery. She is an  award-winning web designer, consultant, speaker, founder of  <a href="http://camptech.ca" target="_blank">Camp Tech</a> and the Web Director of the <a href="http://aci-iac.ca/" target="_blank">Art Canada Institute</a>.  A self-described design geek, she helps demystify the web for small business owners, charities, and arts organizations.



 

I'm a Research Assistant on Peter Sramek's <em>Paris After Marville</em> project. We are developing an iPad application of the project and <a href="http://press.uchicago.edu/ucp/books/book/distributed/P/bo16811996.html" target="_blank">the book</a>  was recently published by Intellect press.

I recently photographed artworks on behalf of OCADU for the annual <a href="http://www2.ocad.ca/project31/" target="_blank">Project 31 auction</a>.

[/ezcol_1half_end]
<h3 style="text-align: center;">Now you know all about me. I'd love to hear about you.</h3>
<h4 style="text-align: center; padding-top: 10px;"><a title="Contact" href="http://melissajclark.ca/contact/">Contact me</a> to fill me in!
Or if you haven't already, take a look at the work in my <a title="Portfolio" href="http://melissajclark.ca/portfolio-index/">portfolio</a>.</h4>