@charset "UTF-8";
/*!
Web Styles 2.0

CSS from Starter-Theme - ensures ease of use for using with both web-styles and my WordPress starter-theme
*/
/**
*
* Normalize
*
**/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/* / Normalize */
/**
*
* Accessiblity Styling
*
**/
/* Formatting & Styling inspired from: https://github.com/happywebdiva/a11yall */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/**
*
* Accessible Icon Fonts
* See: http://www.filamentgroup.com/lab/bulletproof_icon_fonts.html
**/
.icon-fallback-text .icon-text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+git+markdown+php+scss&plugins=line-highlight+line-numbers+autolinker+file-highlight+show-language+highlight-keywords */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"], pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #f92672; }

.token.boolean, .token.number {
  color: #ae81ff; }

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #a6e22e; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: #f8f8f2; }

.token.atrule, .token.attr-value, .token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex, .token.important {
  color: #fd971f; }

.token.important, .token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before, .line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.token a {
  color: inherit; }

pre[class*='language-'] {
  position: relative; }

pre[class*='language-'] > code[data-language] {
  overflow: auto;
  max-height: 28em;
  display: block; }

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none; }

/**
*
* Content
*
**/
/*==============================
=            Layout            =
==============================*/
body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%; }

#main {
  clear: both; }

.contentWrapper {
  width: 100%; }

.contentContainer {
  margin: 0 auto;
  max-width: 70%; }
  @media (min-width: 1600px) {
    .contentContainer {
      max-width: 60%; } }
  @media (max-width: 1600px) {
    .contentContainer {
      max-width: 80%; } }
  @media (max-width: 1150px) {
    .contentContainer {
      max-width: 85%; } }
  @media (max-width: 800px) {
    .contentContainer {
      max-width: 95%;
      font-size: 1.1rem;
      line-height: 1.56rem;
      word-wrap: break-word; } }

#colophon {
  clear: both;
  overflow: hidden; }

/* Sticky footer */
html, body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px; }
  #page #main {
    padding: 0 0 100px 0; }

#colophon {
  height: 100px; }

/*-----  End of Layout  ------*/
/**
*
* Typography
*
**/
body, input, textarea {
  font-size: 1.1rem;
  line-height: 1.8rem;
  word-wrap: break-word;
  font-family: 'Source Sans Pro', monospace;
  font-style: normal;
  font-weight: 300;
  color: #222;
  word-wrap: break-word; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  clear: both; }

h1 {
  font-size: 2.2rem;
  line-height: 3rem; }

h2 {
  font-size: 1.9rem;
  line-height: 2.5rem; }

h3 {
  font-size: 1.7rem;
  line-height: 2.1rem; }

h4 {
  font-size: 1.5rem;
  line-height: 2rem; }

h5 {
  font-size: 1.3rem;
  line-height: 1.8rem; }

h6 {
  font-size: 1.2rem;
  line-height: 1.9rem; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
p {
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 2.5em; }

ul {
  list-style: square; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style: upper-alpha; }
    ol ol ol {
      list-style: lower-roman; }
    ol ol ol {
      list-style: lower-alpha; }

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0; }

dl {
  margin: 0 1.5em; }

dd {
  margin-bottom: 1.5em; }

em, i {
  font-style: italic; }

blockquote {
  font-style: italic;
  font-weight: normal;
  margin: 0 3em; }

blockquote em, blockquote i, blockquote cite {
  font-style: normal; }

cite {
  color: #666;
  letter-spacing: 0.05em;
  padding-left: 60px; }

pre {
  background: #f4f4f4;
  line-height: 1.5;
  margin-bottom: 1.5em;
  overflow: auto;
  padding: 0.75em 1.5em; }

code, kbd {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym, dfn {
  border-bottom: 1px solid #444;
  cursor: help; }

address {
  display: block;
  margin: 0 0 1.5em; }

ins {
  background: #fff9c0;
  text-decoration: none; }

sup, sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

/* Links */
a {
  color: blue;
  text-decoration: none;
  word-wrap: break-word; }
  a:focus, a:active, a:hover {
    color: red;
    word-wrap: break-word; }

/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

#access a.assistive-text:active, #access a.assistive-text:focus {
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%; }

/**
*
* Modules
*
**/
/*==================================
=            Navigation            =
==================================*/
/**
*
* Navigation
*
**/
#site-header {
  margin-bottom: 100px;
  position: relative;
  z-index: 250; }
  #site-header h1 {
    line-height: 1;
    text-align: center; }
  #site-header img {
    height: auto; }

#access {
  margin: 0; }
  #access ul {
    padding-left: 0;
    margin: 0 !important;
    list-style: none; }
    #access ul li {
      position: relative;
      display: block;
      float: left;
      position: relative; }
      #access ul li a {
        letter-spacing: 0.15em;
        display: block;
        padding: 3px 0 3px 10px;
        margin: 2px 0;
        text-decoration: none;
        cursor: pointer; }
        #access ul li a:after {
          content: '|';
          color: #222; }
        #access ul li a :hover {
          color: red; }
      #access ul li:last-of-type a:after {
        content: none; }

/*-----  End of Navigation  ------*/
/*=================================
=            WebStyles            =
=================================*/
/**
*
* Code Blocks
*
**/
.codeExample {
  line-height: 1.1;
  font-size: 15px;
  float: left;
  width: 40%; }
  @media (max-width: 1150px) {
    .codeExample {
      width: 100%;
      max-width: 640px; } }

.hidden {
  display: none; }

button.revealCode {
  margin-bottom: 1.5rem;
  display: block; }

/**
*
* Colour Palette Layout
*
**/
/* Container for Swatches */
.colourPalette {
  width: 100%;
  min-height: 160px;
  /* Class added when code block is shown */
  /* Individual Swatches */ }
  .colourPalette.colourPaletteCodeVisible {
    float: left;
    width: 55%;
    margin: 0 0 0 5%; }
    @media (max-width: 1150px) {
      .colourPalette.colourPaletteCodeVisible {
        width: 100%;
        margin: 0;
        max-width: 640px; } }
  .colourPalette a.paletteSwatch {
    width: 160px;
    height: 160px;
    float: left;
    position: relative;
    text-align: center;
    /* swatchColour - hexcode displayed on swatch */ }
    .colourPalette a.paletteSwatch:focus {
      outline: 3px solid;
      color: rgba(34, 34, 34, 0.7);
      z-index: 10; }
    .colourPalette a.paletteSwatch span.swatchColour {
      background: rgba(255, 255, 255, 0.8);
      padding: 3px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
      color: #222;
      position: absolute;
      top: 40%;
      left: 30%; }

/**
*
* Swatch Colours Setup 
*
**/
/* Palette 1 */
.palette1-colour1 {
  background-color: #A02B3D; }

.palette1-colour2 {
  background-color: #B63432; }

.palette1-colour3 {
  background-color: #CF6062; }

.palette1-colour4 {
  background-color: #E8C078; }

.palette1-colour5 {
  background-color: #AECBDE; }

.palette1-colour6 {
  background-color: #8E9A98; }

/* / Palette 1 */
.bodyStylesContainer {
  clear: both;
  margin: 2% 0 0 0; }

.bodyStylesContent {
  width: 44%;
  float: left;
  padding: 0 3% 0 0;
  border-right: 1px solid #444; }
  .bodyStylesContent:last-of-type {
    border-right: none;
    padding: 0 0 0 3%; }
  @media (max-width: 500px) {
    .bodyStylesContent {
      width: 100%;
      padding: 0;
      border-right: none; } }

.bodyStyles1 {
  /**
*
* BodyStyles1: Typography
*
**/
  /* Headings */
  /* Text elements */
  /* Links */
  /* Assistive text */ }
  .bodyStyles1 body, .bodyStyles1 input, .bodyStyles1 textarea, .bodyStyles1 p, .bodyStyles1 li {
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-wrap: break-word;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #222;
    word-wrap: break-word; }
  .bodyStyles1 h1, .bodyStyles1 h2, .bodyStyles1 h3, .bodyStyles1 h4, .bodyStyles1 h5, .bodyStyles1 h6 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    clear: both; }
  .bodyStyles1 h1 {
    font-size: 2.2rem;
    line-height: 3rem; }
  .bodyStyles1 h2 {
    font-size: 1.9rem;
    line-height: 2.5rem; }
  .bodyStyles1 h3 {
    font-size: 1.7rem;
    line-height: 2.1rem; }
  .bodyStyles1 h4 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .bodyStyles1 h5 {
    font-size: 1.3rem;
    line-height: 1.8rem; }
  .bodyStyles1 h6 {
    font-size: 1.2rem;
    line-height: 1.9rem; }
  .bodyStyles1 hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em; }
  .bodyStyles1 p {
    margin-bottom: 1.5em; }
  .bodyStyles1 ul, .bodyStyles1 ol {
    margin: 0 0 1.5em 2.5em; }
  .bodyStyles1 ul {
    list-style: square; }
  .bodyStyles1 ol {
    list-style-type: decimal; }
    .bodyStyles1 ol ol {
      list-style: upper-alpha; }
      .bodyStyles1 ol ol ol {
        list-style: lower-roman; }
      .bodyStyles1 ol ol ol {
        list-style: lower-alpha; }
  .bodyStyles1 ul ul, .bodyStyles1 ol ol, .bodyStyles1 ul ol, .bodyStyles1 ol ul {
    margin-bottom: 0; }
  .bodyStyles1 dl {
    margin: 0 1.5em; }
  .bodyStyles1 dd {
    margin-bottom: 1.5em; }
  .bodyStyles1 em, .bodyStyles1 i {
    font-style: italic; }
  .bodyStyles1 blockquote {
    font-style: italic;
    font-weight: normal;
    margin: 0 3em; }
  .bodyStyles1 blockquote em, .bodyStyles1 blockquote i, .bodyStyles1 blockquote cite {
    font-style: normal; }
  .bodyStyles1 cite {
    color: #666;
    letter-spacing: 0.05em;
    padding-left: 60px; }
  .bodyStyles1 pre {
    background: #f4f4f4;
    line-height: 1.5;
    margin-bottom: 1.5em;
    overflow: auto;
    padding: 0.75em 1.5em; }
  .bodyStyles1 code, .bodyStyles1 kbd {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
  .bodyStyles1 abbr, .bodyStyles1 acronym, .bodyStyles1 dfn {
    border-bottom: 1px solid #444;
    cursor: help; }
  .bodyStyles1 address {
    display: block;
    margin: 0 0 1.5em; }
  .bodyStyles1 ins {
    background: #fff9c0;
    text-decoration: none; }
  .bodyStyles1 sup, .bodyStyles1 sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline; }
  .bodyStyles1 sup {
    bottom: 1ex; }
  .bodyStyles1 sub {
    top: .5ex; }
  .bodyStyles1 a {
    color: blue;
    text-decoration: none;
    word-wrap: break-word; }
    .bodyStyles1 a:focus, .bodyStyles1 a:active, .bodyStyles1 a:hover {
      color: red;
      word-wrap: break-word; }
  .bodyStyles1 .assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px); }
  .bodyStyles1 #access a.assistive-text:active, .bodyStyles1 #access a.assistive-text:focus {
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%; }

/* bodyStyles1 */
.bodyStyles2 {
  /**
*
* BodyStyles2: Typography
*
**/
  /* Headings */
  /* Text elements */
  /* Links */
  /* Assistive text */ }
  .bodyStyles2 body, .bodyStyles2 input, .bodyStyles2 textarea, .bodyStyles2 p, .bodyStyles2 li {
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-wrap: break-word;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #222;
    word-wrap: break-word; }
  .bodyStyles2 h1, .bodyStyles2 h2, .bodyStyles2 h3, .bodyStyles2 h4, .bodyStyles2 h5, .bodyStyles2 h6 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    clear: both; }
  .bodyStyles2 h1 {
    font-size: 2.2rem;
    line-height: 3rem; }
  .bodyStyles2 h2 {
    font-size: 1.9rem;
    line-height: 2.5rem; }
  .bodyStyles2 h3 {
    font-size: 1.7rem;
    line-height: 2.1rem; }
  .bodyStyles2 h4 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .bodyStyles2 h5 {
    font-size: 1.3rem;
    line-height: 1.8rem; }
  .bodyStyles2 h6 {
    font-size: 1.2rem;
    line-height: 1.9rem; }
  .bodyStyles2 hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em; }
  .bodyStyles2 p {
    margin-bottom: 1.5em; }
  .bodyStyles2 ul, .bodyStyles2 ol {
    margin: 0 0 1.5em 2.5em; }
  .bodyStyles2 ul {
    list-style: square; }
  .bodyStyles2 ol {
    list-style-type: decimal; }
    .bodyStyles2 ol ol {
      list-style: upper-alpha; }
      .bodyStyles2 ol ol ol {
        list-style: lower-roman; }
      .bodyStyles2 ol ol ol {
        list-style: lower-alpha; }
  .bodyStyles2 ul ul, .bodyStyles2 ol ol, .bodyStyles2 ul ol, .bodyStyles2 ol ul {
    margin-bottom: 0; }
  .bodyStyles2 dl {
    margin: 0 1.5em; }
  .bodyStyles2 dd {
    margin-bottom: 1.5em; }
  .bodyStyles2 em, .bodyStyles2 i {
    font-style: italic; }
  .bodyStyles2 blockquote {
    font-style: italic;
    font-weight: normal;
    margin: 0 3em; }
  .bodyStyles2 blockquote em, .bodyStyles2 blockquote i, .bodyStyles2 blockquote cite {
    font-style: normal; }
  .bodyStyles2 cite {
    color: #666;
    letter-spacing: 0.05em;
    padding-left: 60px; }
  .bodyStyles2 pre {
    background: #f4f4f4;
    line-height: 1.5;
    margin-bottom: 1.5em;
    overflow: auto;
    padding: 0.75em 1.5em; }
  .bodyStyles2 code, .bodyStyles2 kbd {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
  .bodyStyles2 abbr, .bodyStyles2 acronym, .bodyStyles2 dfn {
    border-bottom: 1px solid #444;
    cursor: help; }
  .bodyStyles2 address {
    display: block;
    margin: 0 0 1.5em; }
  .bodyStyles2 ins {
    background: #fff9c0;
    text-decoration: none; }
  .bodyStyles2 sup, .bodyStyles2 sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline; }
  .bodyStyles2 sup {
    bottom: 1ex; }
  .bodyStyles2 sub {
    top: .5ex; }
  .bodyStyles2 a {
    color: blue;
    text-decoration: none;
    word-wrap: break-word; }
    .bodyStyles2 a:focus, .bodyStyles2 a:active, .bodyStyles2 a:hover {
      color: red;
      word-wrap: break-word; }
  .bodyStyles2 .assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px); }
  .bodyStyles2 #access a.assistive-text:active, .bodyStyles2 #access a.assistive-text:focus {
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    left: 7.6%; }

/* bodyStyles2 */
/*-----  End of WebStyles  ------*/