/*
Project: 	Web Styles
By: 		Melissa Jean Clark
Author: 	http://melissajclark.ca
Description: Template for design ideas to share with client.

Original CSS Structure based off of Skeleton by Dave Gamache.

*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* 
*

#Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc
*

#Layout: Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
*

#Skeleton: Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
*/
/*
* 
#Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul.large li {
  line-height: 21px;
}

li p {
  line-height: 21px;
}

/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important;
}

.half-bottom {
  margin-bottom: 10px !important;
}

.add-bottom {
  margin-bottom: 20px !important;
}

/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
.container .one.column,
.container .one.columns {
  width: 40px;
}

.container .two.columns {
  width: 100px;
}

.container .three.columns {
  width: 160px;
}

.container .four.columns {
  width: 220px;
}

.container .five.columns {
  width: 280px;
}

.container .six.columns {
  width: 340px;
}

.container .seven.columns {
  width: 400px;
}

.container .eight.columns {
  width: 460px;
}

.container .nine.columns {
  width: 520px;
}

.container .ten.columns {
  width: 580px;
}

.container .eleven.columns {
  width: 640px;
}

.container .twelve.columns {
  width: 700px;
}

.container .thirteen.columns {
  width: 760px;
}

.container .fourteen.columns {
  width: 820px;
}

.container .fifteen.columns {
  width: 880px;
}

.container .sixteen.columns {
  width: 920px;
}

.container .one-third.column {
  width: 300px;
}

.container .one-half.column {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.container .two-thirds.column {
  width: 620px;
}

.container .one-fourth.column {
  width: 220px;
}

/* Offsets */
.container .offset-by-one {
  padding-left: 60px;
}

.container .offset-by-two {
  padding-left: 120px;
}

.container .offset-by-three {
  padding-left: 180px;
}

.container .offset-by-four {
  padding-left: 240px;
}

.container .offset-by-five {
  padding-left: 300px;
}

.container .offset-by-six {
  padding-left: 360px;
}

.container .offset-by-seven {
  padding-left: 420px;
}

.container .offset-by-eight {
  padding-left: 480px;
}

.container .offset-by-nine {
  padding-left: 540px;
}

.container .offset-by-ten {
  padding-left: 600px;
}

.container .offset-by-eleven {
  padding-left: 660px;
}

.container .offset-by-twelve {
  padding-left: 720px;
}

.container .offset-by-thirteen {
  padding-left: 780px;
}

.container .offset-by-fourteen {
  padding-left: 840px;
}

.container .offset-by-fifteen {
  padding-left: 900px;
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }

  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  .container .one.column,
  .container .one.columns {
    width: 28px;
  }

  .container .two.columns {
    width: 76px;
  }

  .container .three.columns {
    width: 124px;
  }

  .container .four.columns {
    width: 172px;
  }

  .container .five.columns {
    width: 220px;
  }

  .container .six.columns {
    width: 268px;
  }

  .container .seven.columns {
    width: 316px;
  }

  .container .eight.columns {
    width: 364px;
  }

  .container .nine.columns {
    width: 412px;
  }

  .container .ten.columns {
    width: 460px;
  }

  .container .eleven.columns {
    width: 508px;
  }

  .container .twelve.columns {
    width: 556px;
  }

  .container .thirteen.columns {
    width: 604px;
  }

  .container .fourteen.columns {
    width: 652px;
  }

  .container .fifteen.columns {
    width: 700px;
  }

  .container .sixteen.columns {
    width: 748px;
  }

  .container .one-third.column {
    width: 236px;
  }

  .container .two-thirds.column {
    width: 492px;
  }

  .container .one-half.column {
    width: 300px;
  }

  .container .one-fourth.column {
    width: 150px;
  }

  /* Offsets */
  .container .offset-by-one {
    padding-left: 48px;
  }

  .container .offset-by-two {
    padding-left: 96px;
  }

  .container .offset-by-three {
    padding-left: 144px;
  }

  .container .offset-by-four {
    padding-left: 192px;
  }

  .container .offset-by-five {
    padding-left: 240px;
  }

  .container .offset-by-six {
    padding-left: 288px;
  }

  .container .offset-by-seven {
    padding-left: 336px;
  }

  .container .offset-by-eight {
    padding-left: 384px;
  }

  .container .offset-by-nine {
    padding-left: 432px;
  }

  .container .offset-by-ten {
    padding-left: 480px;
  }

  .container .offset-by-eleven {
    padding-left: 528px;
  }

  .container .offset-by-twelve {
    padding-left: 576px;
  }

  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  .container .columns,
  .container .column {
    margin: 0;
  }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .one-half.column,
  .container .two-thirds.column {
    width: 300px;
  }

  .container .one-fourth.column {
    width: 45%;
    padding: 2%;
  }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }

  .container .columns,
  .container .column {
    margin: 0;
  }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column,
  .container .one-half.column {
    width: 420px;
  }

  .container .one-fourth.column {
    width: 45%;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*===========================================
=            Body Style Option 1            =
===========================================*/
.bodystyle1 {
  /* #Typography
  ================================================== */
  /* Blockquotes */
  /* #Links
  ================================================== */
}
.bodystyle1 html, .bodystyle1 body, .bodystyle1 div, .bodystyle1 span, .bodystyle1 applet, .bodystyle1 object, .bodystyle1 iframe, .bodystyle1 h1, .bodystyle1 h2, .bodystyle1 h3, .bodystyle1 h4, .bodystyle1 h5, .bodystyle1 h6, .bodystyle1 p, .bodystyle1 blockquote, .bodystyle1 pre, .bodystyle1 a, .bodystyle1 abbr, .bodystyle1 acronym, .bodystyle1 address, .bodystyle1 big, .bodystyle1 cite, .bodystyle1 code, .bodystyle1 del, .bodystyle1 dfn, .bodystyle1 em, .bodystyle1 img, .bodystyle1 ins, .bodystyle1 kbd, .bodystyle1 q, .bodystyle1 s, .bodystyle1 samp, .bodystyle1 small, .bodystyle1 strike, .bodystyle1 strong, .bodystyle1 sub, .bodystyle1 sup, .bodystyle1 tt, .bodystyle1 var, .bodystyle1 b, .bodystyle1 u, .bodystyle1 i, .bodystyle1 center, .bodystyle1 dl, .bodystyle1 dt, .bodystyle1 dd, .bodystyle1 ol, .bodystyle1 ul, .bodystyle1 li, .bodystyle1 fieldset, .bodystyle1 form, .bodystyle1 label, .bodystyle1 legend, .bodystyle1 table, .bodystyle1 caption, .bodystyle1 tbody, .bodystyle1 tfoot, .bodystyle1 thead, .bodystyle1 tr, .bodystyle1 th, .bodystyle1 td, .bodystyle1 article, .bodystyle1 aside, .bodystyle1 canvas, .bodystyle1 details, .bodystyle1 embed, .bodystyle1 figure, .bodystyle1 figcaption, .bodystyle1 footer, .bodystyle1 header, .bodystyle1 hgroup, .bodystyle1 menu, .bodystyle1 nav, .bodystyle1 output, .bodystyle1 ruby, .bodystyle1 section, .bodystyle1 summary, .bodystyle1 time, .bodystyle1 mark, .bodystyle1 audio, .bodystyle1 video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.bodystyle1 article, .bodystyle1 aside, .bodystyle1 details, .bodystyle1 figcaption, .bodystyle1 figure, .bodystyle1 footer, .bodystyle1 header, .bodystyle1 hgroup, .bodystyle1 menu, .bodystyle1 nav, .bodystyle1 section {
  display: block;
}
.bodystyle1 body {
  line-height: inherit;
}
.bodystyle1 ol, .bodystyle1 ul {
  list-style: disc inside;
  line-height: 2;
}
.bodystyle1 blockquote, .bodystyle1 q {
  quotes: none;
}
.bodystyle1 blockquote:before, .bodystyle1 blockquote:after, .bodystyle1 q:before, .bodystyle1 q:after {
  content: '';
  content: none;
}
.bodystyle1 table {
  border-collapse: collapse;
  border-spacing: 0;
}
.bodystyle1 body, .bodystyle1 body p, .bodystyle1 p, .bodystyle1 ol, .bodystyle1 ul {
  font-family: "ratio",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  line-height: 2;
}
.bodystyle1 h1, .bodystyle1 h2, .bodystyle1 h3, .bodystyle1 h4, .bodystyle1 h5, .bodystyle1 h6 {
  margin: auto;
  margin-top: inherit;
  display: block;
  padding: inherit;
  text-align: center;
  font-style: normal;
  background-color: transparent;
  border-radius: 5px;
  max-width: 95%;
  width: 90%;
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
  background-color: none;
  text-align: center;
}
.bodystyle1 h1, .bodystyle1 h2 {
  color: rgba(3, 74, 107, 0.82);
}
.bodystyle1 h1 a, .bodystyle1 h2 a, .bodystyle1 h3 a, .bodystyle1 h4 a, .bodystyle1 h5 a, .bodystyle1 h6 a {
  font-weight: inherit;
}
.bodystyle1 .centre-intro {
  text-align: center;
}
.bodystyle1 h1 {
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 20px;
}
.bodystyle1 h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
.bodystyle1 h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
  text-align: center;
}
.bodystyle1 h4 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  /* border-bottom: 1px solid #333;
  padding-left: 3px;
  padding-right: 3px;
  */
}
.bodystyle1 h5 {
  font-size: 17px;
  line-height: 24px;
}
.bodystyle1 h6 {
  font-size: 14px;
  line-height: 21px;
}
.bodystyle1 .subheader {
  color: #777;
}
.bodystyle1 p {
  margin: 0 0 20px 0;
}
.bodystyle1 p img {
  margin: 0;
}
.bodystyle1 p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}
.bodystyle1 em {
  font-style: italic;
}
.bodystyle1 strong {
  font-weight: bold;
  color: #333;
}
.bodystyle1 small {
  font-size: 80%;
}
.bodystyle1 blockquote, .bodystyle1 blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
.bodystyle1 blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
.bodystyle1 blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
.bodystyle1 blockquote cite:before {
  content: "\2014 \0020";
}
.bodystyle1 blockquote cite a, .bodystyle1 blockquote cite a:visited, .bodystyle1 blockquote cite a:visited {
  color: #555;
}
.bodystyle1 hr {
  border: 1.9px solid rgba(59, 68, 72, 0.48);
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  margin: auto;
  margin: 10px 0 30px;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.07);
}
.bodystyle1 a, .bodystyle1 a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
.bodystyle1 a:hover, .bodystyle1 a:focus {
  color: #000;
}
.bodystyle1 p a, .bodystyle1 p a:visited {
  line-height: inherit;
}

/*-----  End of Body Style Option 1  ------*/
/*===========================================
=            Body Style Option 2          =
===========================================*/
.bodystyle2 {
  /* #Typography
  ================================================== */
  /* Blockquotes */
  /* #Links
  ================================================== */
}
.bodystyle2 html, .bodystyle2 body, .bodystyle2 div, .bodystyle2 span, .bodystyle2 applet, .bodystyle2 object, .bodystyle2 iframe, .bodystyle2 h1, .bodystyle2 h2, .bodystyle2 h3, .bodystyle2 h4, .bodystyle2 h5, .bodystyle2 h6, .bodystyle2 p, .bodystyle2 blockquote, .bodystyle2 pre, .bodystyle2 a, .bodystyle2 abbr, .bodystyle2 acronym, .bodystyle2 address, .bodystyle2 big, .bodystyle2 cite, .bodystyle2 code, .bodystyle2 del, .bodystyle2 dfn, .bodystyle2 em, .bodystyle2 img, .bodystyle2 ins, .bodystyle2 kbd, .bodystyle2 q, .bodystyle2 s, .bodystyle2 samp, .bodystyle2 small, .bodystyle2 strike, .bodystyle2 strong, .bodystyle2 sub, .bodystyle2 sup, .bodystyle2 tt, .bodystyle2 var, .bodystyle2 b, .bodystyle2 u, .bodystyle2 i, .bodystyle2 center, .bodystyle2 dl, .bodystyle2 dt, .bodystyle2 dd, .bodystyle2 ol, .bodystyle2 ul, .bodystyle2 li, .bodystyle2 fieldset, .bodystyle2 form, .bodystyle2 label, .bodystyle2 legend, .bodystyle2 table, .bodystyle2 caption, .bodystyle2 tbody, .bodystyle2 tfoot, .bodystyle2 thead, .bodystyle2 tr, .bodystyle2 th, .bodystyle2 td, .bodystyle2 article, .bodystyle2 aside, .bodystyle2 canvas, .bodystyle2 details, .bodystyle2 embed, .bodystyle2 figure, .bodystyle2 figcaption, .bodystyle2 footer, .bodystyle2 header, .bodystyle2 hgroup, .bodystyle2 menu, .bodystyle2 nav, .bodystyle2 output, .bodystyle2 ruby, .bodystyle2 section, .bodystyle2 summary, .bodystyle2 time, .bodystyle2 mark, .bodystyle2 audio, .bodystyle2 video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.bodystyle2 article, .bodystyle2 aside, .bodystyle2 details, .bodystyle2 figcaption, .bodystyle2 figure, .bodystyle2 footer, .bodystyle2 header, .bodystyle2 hgroup, .bodystyle2 menu, .bodystyle2 nav, .bodystyle2 section {
  display: block;
}
.bodystyle2 body {
  line-height: inherit;
}
.bodystyle2 ol, .bodystyle2 ul {
  list-style: disc inside;
  line-height: 2;
}
.bodystyle2 blockquote, .bodystyle2 q {
  quotes: none;
}
.bodystyle2 blockquote:before, .bodystyle2 blockquote:after, .bodystyle2 q:before, .bodystyle2 q:after {
  content: '';
  content: none;
}
.bodystyle2 table {
  border-collapse: collapse;
  border-spacing: 0;
}
.bodystyle2 body, .bodystyle2 body p, .bodystyle2 p, .bodystyle2 ol, .bodystyle2 ul {
  font-family: "ff-meta-serif-web-pro",serif;
  font-tyle: normal;
  font-weight: 500;
  font-size: 18px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  line-height: 2;
}
.bodystyle2 h1, .bodystyle2 h2, .bodystyle2 h3, .bodystyle2 h4, .bodystyle2 h5, .bodystyle2 h6 {
  font-family: "sail",fantasy;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  margin-top: inherit;
  display: block;
  padding: inherit;
  text-align: center;
  font-style: normal;
  background-color: transparent;
  border-radius: 5px;
  max-width: 95%;
  width: 90%;
  text-align: center;
  color: #d3803e;
}
.bodystyle2 h1, .bodystyle2 h2 {
  color: rgba(3, 74, 107, 0.82);
}
.bodystyle2 h1 a, .bodystyle2 h2 a, .bodystyle2 h3 a, .bodystyle2 h4 a, .bodystyle2 h5 a, .bodystyle2 h6 a {
  font-weight: inherit;
}
.bodystyle2 .centre-intro {
  text-align: center;
}
.bodystyle2 h1 {
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 20px;
}
.bodystyle2 h2 {
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 10px;
}
.bodystyle2 h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
  text-align: center;
}
.bodystyle2 h4 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  /* border-bottom: 1px solid #333;
  padding-left: 3px;
  padding-right: 3px;
  */
}
.bodystyle2 h5 {
  font-size: 17px;
  line-height: 24px;
}
.bodystyle2 h6 {
  font-size: 14px;
  line-height: 21px;
}
.bodystyle2 .subheader {
  color: #777;
}
.bodystyle2 p {
  margin: 0 0 20px 0;
}
.bodystyle2 p img {
  margin: 0;
}
.bodystyle2 p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}
.bodystyle2 em {
  font-style: italic;
}
.bodystyle2 strong {
  font-weight: bold;
  color: #333;
}
.bodystyle2 small {
  font-size: 80%;
}
.bodystyle2 blockquote, .bodystyle2 blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
.bodystyle2 blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
.bodystyle2 blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
.bodystyle2 blockquote cite:before {
  content: "\2014 \0020";
}
.bodystyle2 blockquote cite a, .bodystyle2 blockquote cite a:visited, .bodystyle2 blockquote cite a:visited {
  color: #555;
}
.bodystyle2 hr {
  border: 1.9px solid rgba(59, 68, 72, 0.48);
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  margin: auto;
  margin: 10px 0 30px;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.07);
}
.bodystyle2 a, .bodystyle2 a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
.bodystyle2 a:hover, .bodystyle2 a:focus {
  color: #000;
}
.bodystyle2 p a, .bodystyle2 p a:visited {
  line-height: inherit;
}

/*-----  End of Body Style Option 2  ------*/
/*
====================================================
=           Body Styles for Main Template           =
====================================================*/
body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 14px/21px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
==================================================*/
h1, h2, h3, h4, h5, h6 {
  margin: auto;
  margin-top: 4%;
  display: block;
  padding: 2%;
  text-align: center;
  font-style: italic;
  background-color: rgba(215, 220, 222, 0.48);
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  font-family: "Pontano Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  font-style: normal;
}

.centre-intro {
  text-align: center;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
  text-align: center;
}

h4 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  /* border-bottom: 1px solid #333;
  padding-left: 3px;
  padding-right: 3px;
  */
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

.subheader {
  color: #777;
}

p {
  margin: 0 0 20px 0;
}

p img {
  margin: 0;
}

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

.caption {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: black;
}

/* Blockquotes */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

hr {
  border: 1.9px solid rgba(59, 68, 72, 0.48);
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  margin: auto;
  margin: 10px 0 30px;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.07);
}

.hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*-----  End of Body Styles in Main Template  ------*/
/* #Links
================================================== */
/* #Links
================================================== */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

a:hover, a:focus {
  color: #000;
}

p a, p a:visited {
  line-height: inherit;
}

/*Buttons
==================================================*/
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eee;
  /* Old browsers */
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome, Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+, Safari5.1+ */
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome, Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+, Safari5.1+ */
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome, Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+, Safari5.1+ */
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */
}

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*Forms
==================================================*/
form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

select {
  padding: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

textarea {
  min-height: 60px;
}

label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

select {
  width: 220px;
}

input[type="checkbox"] {
  display: inline;
}

label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

img.inspiration {
  max-width: 90%;
  height: auto;
  border: 2px solid rgba(59, 68, 72, 0.48);
  border-radius: 4px;
  padding: 10px;
  margin: auto;
  margin-bottom: 80px;
}

img.palette-swatch {
  margin: auto;
  /* padding: 20px; */
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 30px;
  height: 166px;
  max-width: 175px;
  border-radius: 90%;
  box-shadow: 10px 2px 20px 1px rgba(29, 7, 31, 0.12);
  /* 	box-shadow: 10px 2px 20px 1px rgba(29, 7, 31, 0.12);  */
}

/* #Graphics: Logo
================================================== */
.logo {
  margin: auto;
  margin-top: 4%;
  display: block;
  padding: 2%;
  text-align: center;
  font-style: italic;
  background-color: rgba(215, 220, 222, 0.48);
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  background-color: transparent;
  margin-bottom: 40px;
  margin-top: 20px;
  font-style: italic;
}

/* #Graphics: Author Photo
================================================== */
.author-photo {
  float: right;
  width: 40%;
}

/* #Colour General Palette Styling
================================================== */
#colour-box, #colour-palette {
  padding: 3%;
  margin: 4%;
  height: 140px;
  max-width: 98%;
  width: 150px;
  border-radius: 50%;
  box-shadow: 10px 2px 30px 1px rgba(29, 7, 31, 0.12);
  position: relative;
  display: inline-block;
}

#colour-box p, #colour-palette p {
  text-align: center;
  color: snow;
  font-size: 22px;
  font-style: bold;
  font-family: "Pontano Sans", sans-serif, sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px #535353;
  display: block;
  line-height: 1.5;
  padding: 5%;
  padding-top: 25%;
}

#colour-box a, #colour-palette a {
  text-shadow: 2px 2px snow;
  color: rgba(164, 114, 184, 0);
}

#colour-box a:hover, #colour-palette a:hover {
  /*	text-transform:underline;
  */
  border-bottom: 4px double rgba(118, 0, 128, 0.43);
}

.index.colour-none, .colour-none {
  background-color: rgba(153, 153, 153, 0.4);
}

/* #Colour Palette #1
================================================== */
.colourpalette1-colour1 {
  background-color: #0c1633;
}

.colourpalette1-colour2 {
  background-color: #3a434e;
}

.colourpalette1-colour3 {
  background-color: #94a5b7;
}

.colourpalette1-colour4 {
  background-color: #e1e6ea;
}

.colourpalette1-colour5 {
  background-color: #e34627;
}

.colourpalette1-colour6 {
  background-color: #e76885;
}

.colourpalette1-colour7 {
  background-color: #e8c078;
}

.colourpalette1-colour8 {
  background-color: #d3803e;
}

/* #Colour Palette MJC
================================================== */
.colourpalette-mjc-colour1 {
  background-color: #373b44;
}

.colourpalette-mjc-colour2 {
  background-color: rgba(204, 204, 204, 0.34);
}

.colourpalette-mjc-colour3 {
  background-color: #e1b866;
}

.colourpalette-mjc-colour4 {
  background-color: #73c8a9;
}
