/*!

=====================================================
=        		#Colour Palette 1	        	=
=====================================================

*/

// Colour Palette Variables are defined in the _variables.scss file

.colourpalette1-colour1 {
	background-color:$colourpalette1-colour1;
}

.colourpalette1-colour2 {
	background-color:$colourpalette1-colour2; 
}

.colourpalette1-colour3 {
	background-color:$colourpalette1-colour3;
}

.colourpalette1-colour4 {
	background-color:$colourpalette1-colour4;
}

.colourpalette1-colour5{
	background-color:$colourpalette1-colour5;
}

.colourpalette1-colour6 {
	background-color:$colourpalette1-colour6; 
}

.colourpalette1-colour7 {
	background-color:$colourpalette1-colour7;
}

.colourpalette1-colour8 {
	background-color:$colourpalette1-colour8; 
}

/*!

=====================================================
=        	End of #Colour Palette 1		        =
=====================================================

*/