/* #Colour General Palette Styling
================================================== */

#colour-box, #colour-palette {
  padding: 3%;
  margin: 4%;
  height: 140px;
  max-width: 98%;
  width: 150px;
  border-radius: 50%;
  box-shadow: 10px 2px 30px 1px rgba(29, 7, 31, 0.12);
  position: relative;
  display: inline-block;
}


#colour-box p, #colour-palette p {
  text-align: center;
  color: snow;
  font-size: 22px;
  font-style: bold;
  font-family: $main-font, sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px #535353;
  display: block;
  line-height: 1.5;
  padding: 5%;
  padding-top: 25%;
}

#colour-box a, #colour-palette a {
	text-shadow: 2px 2px rgba(255, 250, 250, 1);
	color: rgba(164, 114, 184, 0);
}

#colour-box a:hover, #colour-palette a:hover {
/*	text-transform:underline;
*/	border-bottom: 4px double rgba(118, 0, 128, 0.43);
}

.index.colour-none, .colour-none {
	background-color:rgba(153, 153, 153, 0.4);
}


