/* #Colour Palette MJC
================================================== */


.colourpalette-mjc-colour1 {
	background-color:$colourpalette-mjc-colour1;
}

.colourpalette-mjc-colour2 {
	background-color:$colourpalette-mjc-colour2; 
}

.colourpalette-mjc-colour3 {
	background-color:$colourpalette-mjc-colour3;
}

.colourpalette-mjc-colour4 {
	background-color:$colourpalette-mjc-colour4;
}

// .colourpalette-mjc-colour5{
// 	background-color:$colourpalette-mjc-colour5;
// }

// .colourpalette-mjc-colour6 {
// 	background-color:$colourpalette-mjc-colour6; 
// }

// .colourpalette-mjc-colour7 {
// 	background-color:$colourpalette-mjc-colour7;
// }

// .colourpalette-mjc-colour8 {
// 	background-color:$colourpalette-mjc-colour8; 
// }

