/*!

=====================================================
=        #Colour Palette General Styling            =
=====================================================
*/

.colour-box, .colour-palette, img.colour-swatch {
  margin: 4%;
  height: 160px;
  max-width: 98%;
  width: 160px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}


.colour-box p, .colour-palette p {
  text-align: center;
  color: snow;
  font-size: 22px;
  font-style: bold;
  font-family: $main-font, sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px #535353;
  display: block;
  line-height: 1.5;
  padding: 5%;
  padding-top: 25%;
}

#colour-box a, #colour-palette a {
	// text-shadow: 2px 2px rgba(255, 250, 250, 1);
	// color: rgba(164, 114, 184, 0);
}

#colour-box img a:hover, #colour-palette a:hover {
  padding:none;
  border-bottom: none;
  color:transparent;
}

// default colour for empty swatches

.colourpalette_-colour1, 
.colourpalette_-colour2, 
.colourpalette_-colour3, 
.colourpalette_-colour4, 
.colourpalette_-colour5, 
.colourpalette_-colour6, 
.colourpalette_-colour7, 
.colourpalette_-colour8 {
  background-color: lighten($blank-colourpalette, 60%);
}

/*!

=====================================================
=        End #Colour Palette General Styling        =
=====================================================

*/