/*!

=====================================================
=        		#Colour Palette 2	        	=
=====================================================

*/

// Colour Palette Variables are defined in the _variables.scss file

.colourpalette2-colour1 {
	background-color:$colourpalette2-colour1;
}

.colourpalette2-colour2 {
	background-color:$colourpalette2-colour2; 
}

.colourpalette2-colour3 {
	background-color:$colourpalette2-colour3;
}

.colourpalette2-colour4 {
	background-color:$colourpalette2-colour4;
}

.colourpalette2-colour5{
	background-color:$colourpalette2-colour5;
}

.colourpalette2-colour6 {
	background-color:$colourpalette2-colour6; 
}

.colourpalette2-colour7 {
	background-color:$colourpalette2-colour7;
}

.colourpalette2-colour8 {
	background-color:$colourpalette2-colour8; 
}

/*!

=====================================================
=        	End of #Colour Palette 2		        =
=====================================================

*/