// *
// *
// * Typography Mixins
// *
// *


@mixin heading-font {
font:{
  family: $heading-font;
  style: normal;
  weight: 400;
  }
  text-transform:uppercase;
}

@mixin body-font {
font:{
  family: $body-font;
  style: normal;
  weight: 300;
  }

}

@mixin normal-font-size {
 font-size: 1.1rem;
 line-height: 1.8rem;
 word-wrap:break-word;
}

@mixin small-font-size {
 font-size: 1.1rem;
 line-height: 1.56rem;
 word-wrap:break-word;
}

@mixin super-small-font-size {
 font-size: 0.999rem;
 line-height: 1.3rem;
 word-wrap:break-word;
}