// *
// *
// * BodyStyles
// *
// *

// shared attributes & layout for all bodyStyles

.bodyStylesContainer {
	clear:both;
	margin:2% 0 0 0;
}

.bodyStylesContent {
	width:44%;
	float:left;
	padding:0 3% 0 0;
	border-right:$border;

	&:last-of-type{
		border-right:none;
		padding:0 0 0 3%;
	}

	@include breakpoint(tiny){
		width:100%;
		padding:0;
		border-right:none;
	}
}