// *
// *
// * BodyStyles
// *
// *

// shared attributes & layout for all bodyStyles

.bodyStylesContainer {
	clear:both;
}

.bodyStylesContent {
	width:45%;
	float:left;
	margin:0 4% 0 0;

	@include breakpoint(tiny){
		width:100%;
		margin:0;
	}
}