/**
*
* Colour Palette Variables
*
**/

/* Palette 1 */

$palette1-colour1: $placeholder;
$palette1-colour2: $placeholder;
$palette1-colour3: $placeholder;
$palette1-colour4: $placeholder;
$palette1-colour5: $placeholder;
$palette1-colour6: $placeholder;

.palette1-colour1 {
	background:$palette1-colour1;
}

.palette1-colour2{
	background:$palette1-colour2;
}

.palette1-colour3 {
	background:$palette1-colour3;
}

.palette1-colour4 {
	background:$palette1-colour4;
}

.palette1-colour5 {
	background:$palette1-colour5;
}

.palette1-colour6 {
	background:$palette1-colour6;
}

/* / Palette 1 */
