/**
*
* Colour Palette Layout
*
**/

/* Container for Swatches */
.colourPalette {
	width:100%;
	margin:0 auto;

	/* Individual Swatches */
	a.paletteSwatch {
		width:160px;
		height:160px;
		float:left;
		position:relative;
		text-align:center;
		margin:6px;
	&:focus {
		outline:3px solid;
		color:$placeholder;
	}

		span.swatchColour {
			background:rgba($white, .8);
			padding:3px;
			font-weight:300;
			text-transform:uppercase;
			margin:0;
			color:$text;

			// align center - ish
			position: absolute;
			top: 40%;
			left:30%;
			translate:translateY(-50%);

		}
	} // .paletteSwatch
} // .colourPalette
