/**
*
* Colour Palette Layout
*
**/


/* Container for Swatches */

.colourPalette {
	columns:140px 6;
	margin:0 auto;
	column-gap:1.5em;

	@include breakpoint(large){ // 1300 px
		columns:75px 4;
		column-gap:1em;
	}

}
/* Individual Swatches */

.paletteSwatch {
	background:$placeholder;
	height:auto;
	padding:5px;
	height:140px;
	margin:0;
	width:auto;
	break-inside:avoid;
	
	/* Border same as background to create space between items */
	border:5px solid $bg;

	@include breakpoint(large){ // 1300 px
		height:75px;
	}
}

.paletteSwatch p {
	font-weight:300;
	/* attempt to sort out ghostly line below item  (removes browser's default margin below paragraphs */
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-bottom:0;
}