/**
*
* Swatch Colours Setup 
*
**/

/* Palette 1 */

$palette1-colour1: #A02B3D;
$palette1-colour2: #B63432;
$palette1-colour3: #CF6062;
$palette1-colour4: #E8C078;
$palette1-colour5: #AECBDE;
$palette1-colour6: #8E9A98;

.palette1-colour1 {
	background-color:$palette1-colour1;
}

.palette1-colour2{
	background-color:$palette1-colour2;
}

.palette1-colour3 {
	background-color:$palette1-colour3;
}

.palette1-colour4 {
	background-color:$palette1-colour4;
}

.palette1-colour5 {
	background-color:$palette1-colour5;
}

.palette1-colour6 {
	background-color:$palette1-colour6;
}

/* / Palette 1 */
