// *
// *
// * Base
// *
// *

@import "variables";
@import "mixins/all-mixins";
@import "normalize";
@import "accessibility";
@import "prism";
// @import "wordpressStyles";

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
